# Classification

## Team Name
>### Sigma  

## Team Member
>### 조현윤, 이상협, 정하연  

## Objective
> ### in search of better methods of using this behavioral data to predict which individuals they should approach—and even when and how to approach them.
> ### to create a classification algorithm that accurately identifies which customers have the most potential business value for Red Hat based on their characteristics and activities.
> ### to predict the potential business value of a person who has performed a specific activity.

## Evaluation
> ### valuated on area under the ROC curve between the predicted and the observed outcome.

## Submission File
> ### For each activity_id in the test set, you must predict a probability for the 'outcome' variable, represented by a number between 0 and 1.
~~~~
activity_id,outcome
act1_1,0
act1_100006,0
act1_100050,0
~~~~

## Data
> ### uses two separate data files that may be joined together to create a single, unified data table: a people file and an activity file.
> ### The people file contains all of the unique people (and the corresponding characteristics) that have performed activities over time. Each row in the people file represents a unique person. Each person has a unique people_id.
> ### The activity file contains all of the unique activities (and the corresponding activity characteristics) that each person has performed over time. Each row in the activity file represents a unique activity performed by a person on a certain date. Each activity has a unique activity_id.
> ### The activity file contains several different categories of activities. 
>> Type 1 activities are different from type 2-7 activities because there are more known characteristics associated with type 1 activities (nine in total) than type 2-7 activities (which have only one associated characteristic).
> ### To develop a predictive model with this data, you will likely need to join the files together into a single data set. The two files can be joined together using person_id as the common key. All variables are categorical, with the exception of 'char_38' in the people file, which is a continuous numerical variable.

## Reference 
[kaggel Predicting Red Hat Business Value](https://www.kaggle.com/c/predicting-red-hat-business-value)

### Load Python Package

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime
from datetime import date
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.stats.stattools as stools
import scipy as sp
%matplotlib inline

## Exploratory Data Analysis (EDA )¶

## Load Data Set

In [2]:
# activity data set
act_Train = pd.read_csv('./data/act_train.csv')
act_Test = pd.read_csv('./data/act_test.csv')
# people data set
people = pd.read_csv('./data/people.csv')

### Split people data set wether train data set or test data set

In [3]:
idx_train =list(act_Train['people_id'].value_counts().index)
idx_test =list(act_Test['people_id'].value_counts().index)

In [4]:
train_people = people.loc[people['people_id'].isin(idx_train)]
test_people = people.loc[people['people_id'].isin(idx_test)]

In [5]:
train_people.to_csv('./data/act_train_people.csv',index=False)
test_people.to_csv('./data/act_test_people.csv',index=False)

In [6]:
print('Number of active people: {}'.format(act_Train['people_id'].nunique()))

Number of active people: 151295

In [7]:
print('Number of active people: {}'.format(act_Test['people_id'].nunique()))

Number of active people: 37823

In [8]:
dfx = act_Train.groupby(['people_id','outcome']).size().unstack()
dfx = dfx.fillna(0).astype(int)

In [11]:
only1 = dfx[(dfx[0]==0) & (dfx[1]!=0)]
only1

outcome     0    1
people_id
ppl_100002  0    2
ppl_100003  0   34
ppl_100006  0    3
ppl_100013  0    5
ppl_100019  0    2
ppl_100035  0   54
ppl_100040  0    4
ppl_100043  0    1
ppl_100049  0    9
ppl_100050  0   12
ppl_100062  0    1
ppl_100069  0    4
ppl_10007   0    3
ppl_100072  0    1
ppl_100078  0    1
ppl_100079  0    1
ppl_100083  0    6
ppl_100090  0   18
ppl_100106  0   11
ppl_100115  0   19
ppl_100122  0    2
ppl_100137  0    5
ppl_100146  0   50
ppl_100163  0    5
ppl_100175  0    5
ppl_100186  0   12
ppl_10019   0    3
ppl_100192  0    8
ppl_100194  0    7
ppl_100202  0   30
...        ..  ...
ppl_99852   0    3
ppl_99859   0    5
ppl_99866   0   11
ppl_99867   0    3
ppl_9987    0    5
ppl_99872   0    9
ppl_99875   0    1
ppl_99876   0    6
ppl_99879   0    8
ppl_99880   0   23
ppl_99883   0   22
ppl_99890   0    1
ppl_99898   0   17
ppl_99906   0   16
ppl_99908   0    8
ppl_9991    0    1
ppl_99925   0   80
ppl_99928   0    1
ppl_9993    0   10
ppl_99930   0    1
ppl_99937   0  109
ppl_99944   0    1
ppl_99950   0    2
ppl_99959   0    3
ppl_99964   0    5
ppl_99967   0    1
ppl_99977   0    7
ppl_99978   0    5
ppl_99987   0    1
ppl_99994   0   46

[62115 rows x 2 columns]

In [12]:
only0 = dfx[(dfx[0]!=0) & (dfx[1]==0)]
only0

outcome      0  1
people_id
ppl_100      6  0
ppl_100025  46  0
ppl_100028   3  0
ppl_100029   1  0
ppl_100032   3  0
ppl_100033  19  0
ppl_100042   3  0
ppl_100045  20  0
ppl_100047   1  0
ppl_10005    3  0
ppl_100052  12  0
ppl_100058   7  0
ppl_100060   1  0
ppl_100063   4  0
ppl_100064   1  0
ppl_100066   7  0
ppl_100070   3  0
ppl_100073   6  0
ppl_100080   2  0
ppl_100084   3  0
ppl_100087  52  0
ppl_100095   1  0
ppl_100099   6  0
ppl_1001    11  0
ppl_100100   2  0
ppl_100105   1  0
ppl_100107   1  0
ppl_100112   3  0
ppl_100113   3  0
ppl_100116   3  0
...         .. ..
ppl_99850    5  0
ppl_99854   31  0
ppl_99861   10  0
ppl_99870   19  0
ppl_99874    2  0
ppl_99887    2  0
ppl_99889    8  0
ppl_99895   12  0
ppl_99896    1  0
ppl_99897    5  0
ppl_99901   21  0
ppl_99905    3  0
ppl_99913   57  0
ppl_99919    2  0
ppl_99920    4  0
ppl_99922    1  0
ppl_99924    2  0
ppl_99935   14  0
ppl_99939    6  0
ppl_99946    6  0
ppl_99947    4  0
ppl_99955    3  0
ppl_9996     1  0
ppl_99961    9  0
ppl_9997     3  0
ppl_99973   25  0
ppl_9998     1  0
ppl_99981    7  0
ppl_9999     2  0
ppl_99992    2  0

[82524 rows x 2 columns]

In [14]:
mix_0or1 = dfx[(dfx[0]!=0) & (dfx[1]!=0)]
mix_0or1

outcome      0    1
people_id
ppl_10006    1   10
ppl_100075  57    2
ppl_100145   2   36
ppl_100297   3   13
ppl_100324  14   67
ppl_100382   3   12
ppl_100387  51  399
ppl_10041   20    4
ppl_100451   8    5
ppl_100510  26   21
ppl_100529   4   20
ppl_100535   7    5
ppl_100593   3    9
ppl_100598  78    8
ppl_100636   2   14
ppl_100706   2    2
ppl_100743   3   18
ppl_100815  42    5
ppl_10083    3    2
ppl_100913  24    8
ppl_101102  25    5
ppl_10113   25   48
ppl_101136   1    5
ppl_101275   3    8
ppl_101278  43    2
ppl_10129    3   86
ppl_101341  16   30
ppl_101368   1    3
ppl_101418  13    3
ppl_101428  45    2
...         ..  ...
ppl_98464    2  102
ppl_98473   23    1
ppl_98489    7  123
ppl_98513   35    6
ppl_98556    7    9
ppl_98579    5    1
ppl_98586    7  128
ppl_98588    6    3
ppl_98605    6   27
ppl_98644    6    2
ppl_98674    5    8
ppl_98727    8    2
ppl_98730   40    3
ppl_98851    2   28
ppl_98870    2   16
ppl_98917    1   21
ppl_98956    2    4
ppl_98999    1    9
ppl_99041    8   29
ppl_99200    1   19
ppl_99348    3    1
ppl_99444   27   61
ppl_99562    4   17
ppl_99603    3   15
ppl_9962     2    2
ppl_99828    6   44
ppl_99857    6    9
ppl_9988     5   19
ppl_99916   46  145
ppl_99966    5    2

[6656 rows x 2 columns]

In [16]:
print (len(only1.index),len(only0.index),len(mix_0or1))

62115 82524 6656

In [18]:
act_null_chr10 = act_Train[act_Train['char_10'].isnull()]
act_null_chr10

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
52,ppl_100025,act1_9923,2022-11-25,type 1,type 3,type 5,type 1,type 1,type 6,type 3,type 3,type 6,type 8,NaN,0
105,ppl_100033,act1_198174,2022-07-26,type 1,type 36,type 11,type 5,type 1,type 6,type 1,type 1,type 4,type 1,NaN,0
106,ppl_100033,act1_214090,2023-06-15,type 1,type 24,type 6,type 6,type 3,type 1,type 3,type 4,type 5,type 1,NaN,0
107,ppl_100033,act1_230588,2023-02-28,type 1,type 2,type 2,type 3,type 3,type 5,type 2,type 2,type 4,type 2,NaN,0
108,ppl_100033,act1_271874,2022-07-26,type 1,type 2,type 5,type 3,type 2,type 6,type 1,type 1,type 6,type 8,NaN,0
124,ppl_100035,act1_104259,2023-07-28,type 1,type 5,type 2,type 7,type 3,type 1,type 3,type 5,type 4,type 7,NaN,1
125,ppl_100035,act1_188526,2023-02-03,type 1,type 5,type 2,type 8,type 3,type 1,type 2,type 6,type 9,type 13,NaN,1
126,ppl_100035,act1_212220,2023-02-02,type 1,type 3,type 2,type 8,type 3,type 1,type 2,type 3,type 9,type 13,NaN,1
127,ppl_100035,act1_313621,2023-02-03,type 1,type 5,type 2,type 8,type 3,type 1,type 2,type 2,type 9,type 13,NaN,1
128,ppl_100035,act1_336085,2023-02-03,type 1,type 5,type 2,type 8,type 3,type 1,type 2,type 2,type 9,type 13,NaN,1
129,ppl_100035,act1_386098,2022-11-15,type 1,type 2,type 2,type 3,type 3,type 1,type 2,type 2,type 18,type 9,NaN,1
130,ppl_100035,act1_54104,2022-11-12,type 1,type 2,type 2,type 5,type 3,type 1,type 2,type 1,type 18,type 9,NaN,1
186,ppl_100045,act1_319273,2022-09-21,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 14,type 15,NaN,0
187,ppl_100045,act1_354691,2022-09-21,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 14,type 15,NaN,0
206,ppl_100047,act1_218610,2022-11-14,type 1,type 36,type 1,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN,0
219,ppl_100050,act1_212299,2023-02-25,type 1,type 3,type 5,type 8,type 3,type 6,type 2,type 3,type 9,type 8,NaN,1
220,ppl_100050,act1_264670,2023-02-25,type 1,type 3,type 5,type 8,type 3,type 6,type 2,type 3,type 9,type 8,NaN,1
231,ppl_100052,act1_247347,2023-08-15,type 1,type 5,type 2,type 8,type 3,type 1,type 3,type 4,type 9,type 13,NaN,0
232,ppl_100052,act1_38625,2023-02-12,type 1,type 23,type 16,type 1,type 3,type 1,type 3,type 3,type 4,type 6,NaN,0
243,ppl_100058,act1_319058,2022-12-28,type 1,type 12,type 14,type 5,type 4,type 6,type 1,type 1,type 3,type 3,NaN,0
250,ppl_10006,act1_166510,2022-11-17,type 1,type 2,type 2,type 1,type 3,type 5,type 2,type 2,type 4,type 3,NaN,1
251,ppl_10006,act1_180018,2023-06-16,type 1,type 3,type 5,type 1,type 3,type 6,type 3,type 3,type 4,type 8,NaN,1
252,ppl_10006,act1_19122,2023-06-08,type 1,type 3,type 14,type 4,type 3,type 1,type 3,type 3,type 4,type 15,NaN,1
253,ppl_10006,act1_40319,2023-06-08,type 1,type 3,type 14,type 4,type 3,type 1,type 3,type 3,type 4,type 15,NaN,1
254,ppl_10006,act1_411414,2022-11-17,type 1,type 2,type 2,type 1,type 3,type 5,type 2,type 2,type 4,type 3,NaN,1
261,ppl_100060,act1_17037,2023-08-31,type 1,type 5,type 2,type 1,type 3,type 2,type 2,type 3,type 4,type 15,NaN,0
262,ppl_100062,act1_100341,2022-09-16,type 1,type 12,type 4,type 5,type 4,type 6,type 1,type 1,type 8,type 12,NaN,1
263,ppl_100063,act1_158755,2022-12-16,type 1,type 12,type 8,type 1,type 4,type 6,type 2,type 6,type 11,type 6,NaN,0
268,ppl_100066,act1_359585,2022-12-29,type 1,type 12,type 8,type 1,type 4,type 6,type 4,type 6,type 11,type 6,NaN,0
279,ppl_10007,act1_248549,2023-06-01,type 1,type 7,type 5,type 6,type 3,type 6,type 2,type 3,type 5,type 8,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196920,ppl_99919,act1_2844,2023-02-17,type 1,type 1,type 3,type 1,type 1,type 1,type 1,type 1,type 1,type 1,NaN,0
2196922,ppl_99920,act1_193860,2023-05-26,type 1,type 7,type 3,type 3,type 3,type 1,type 2,type 3,type 4,type 1,NaN,0
2196927,ppl_99924,act1_268561,2023-05-02,type 1,type 7,type 1,type 4,type 1,type 6,type 2,type 2,type 8,type 12,NaN,0
2196929,ppl_99925,act1_125686,2022-11-16,type 1,type 12,type 9,type 1,type 3,type 3,type 2,type 2,type 1,type 6,NaN,1
2196930,ppl_99925,act1_159998,2022-11-02,type 1,type 12,type 2,type 9,type 3,type 3,type 3,type 6,type 1,type 15,NaN,1
2196931,ppl_99925,act1_387818,2022-09-20,type 1,type 12,type 9,type 2,type 3,type 3,type 3,type 2,type 4,type 15,NaN,1
2197021,ppl_99935,act1_14274,2022-08-30,type 1,type 1,type 11,type 5,type 1,type 6,type 1,type 1,type 2,type 17,NaN,0
2197022,ppl_99935,act1_1566,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197023,ppl_99935,act1_172675,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197024,ppl_99935,act1_23526,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197025,ppl_99935,act1_254413,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197026,ppl_99935,act1_281124,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197027,ppl_99935,act1_291160,2022-08-30,type 1,type 2,type 5,type 5,type 3,type 6,type 2,type 1,type 4,type 8,NaN,0
2197028,ppl_99935,act1_322005,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197029,ppl_99935,act1_366242,2022-09-13,type 1,type 2,type 5,type 8,type 3,type 6,type 1,type 8,type 9,type 8,NaN,0
2197030,ppl_99935,act1_388309,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197031,ppl_99935,act1_45837,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197032,ppl_99935,act1_58859,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197035,ppl_99937,act1_339611,2022-11-11,type 1,type 5,type 2,type 1,type 3,type 1,type 2,type 2,type 4,type 12,NaN,1
2197144,ppl_99939,act1_212134,2022-12-22,type 1,type 10,type 12,type 5,type 6,type 6,type 1,type 1,type 7,type 4,NaN,0
2197157,ppl_99947,act1_177448,2022-09-08,type 1,type 6,type 8,type 5,type 3,type 2,type 1,type 1,type 4,type 6,NaN,0
2197158,ppl_99947,act1_222160,2022-09-08,type 1,type 3,type 8,type 1,type 3,type 2,type 2,type 3,type 4,type 6,NaN,0
2197163,ppl_99955,act1_396718,2023-06-01,type 1,type 7,type 5,type 6,type 3,type 6,type 2,type 3,type 5,type 8,NaN,0
2197192,ppl_9997,act1_135120,2023-03-21,type 1,type 3,type 1,type 1,type 3,type 2,type 2,type 3,type 4,type 2,NaN,0
2197195,ppl_99973,act1_133169,2022-09-01,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 14,type 15,NaN,0
2197196,ppl_99973,act1_272254,2022-09-01,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 2,type 17,NaN,0
2197220,ppl_99977,act1_204921,2023-01-04,type 1,type 12,type 8,type 8,type 4,type 6,type 3,type 6,type 12,type 13,NaN,1
2197227,ppl_99978,act1_245264,2023-03-16,type 1,type 30,type 6,type 3,type 3,type 1,type 2,type 2,type 4,type 1,NaN,1
2197233,ppl_99981,act1_9232,2023-01-26,type 1,type 12,type 8,type 8,type 4,type 6,type 3,type 5,type 12,type 13,NaN,0
2197245,ppl_99994,act1_330864,2023-06-27,type 1,type 5,type 2,type 1,type 3,type 1,type 2,type 5,type 4,type 6,NaN,1

In [19]:
act_notnull_chr10 = act_Train[act_Train['char_10'].notnull()]
act_notnull_chr10

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
5,ppl_100,act2_898576,2023-08-04,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0
6,ppl_100002,act2_1233489,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
7,ppl_100002,act2_1623405,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
8,ppl_100003,act2_1111598,2023-02-07,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
9,ppl_100003,act2_1177453,2023-06-28,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
10,ppl_100003,act2_133509,2022-08-10,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 894,1
11,ppl_100003,act2_1408475,2023-03-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
12,ppl_100003,act2_1610829,2022-09-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
13,ppl_100003,act2_1688731,2023-02-10,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 297,1
14,ppl_100003,act2_1961720,2023-06-28,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 269,1
15,ppl_100003,act2_1988351,2022-08-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
16,ppl_100003,act2_2198176,2022-08-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
17,ppl_100003,act2_2437661,2023-02-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
18,ppl_100003,act2_2476911,2023-03-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
19,ppl_100003,act2_2557270,2022-08-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 230,1
20,ppl_100003,act2_2581989,2023-02-21,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
21,ppl_100003,act2_3116385,2023-02-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
22,ppl_100003,act2_3159712,2022-08-30,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
23,ppl_100003,act2_3292005,2023-05-03,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
24,ppl_100003,act2_3461867,2023-08-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
25,ppl_100003,act2_3468306,2023-03-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
26,ppl_100003,act2_3867292,2023-02-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
27,ppl_100003,act2_3990676,2023-08-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 276,1
28,ppl_100003,act2_4102292,2023-08-30,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
29,ppl_100003,act2_4160587,2023-02-21,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,ppl_99994,act2_2053669,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197262,ppl_99994,act2_2053762,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197263,ppl_99994,act2_2134893,2023-08-23,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1396,1
2197264,ppl_99994,act2_2139237,2023-06-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197265,ppl_99994,act2_2233766,2023-06-28,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197266,ppl_99994,act2_2499779,2023-02-19,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 61,1
2197267,ppl_99994,act2_2514377,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197268,ppl_99994,act2_2537795,2023-01-12,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197269,ppl_99994,act2_2582736,2023-06-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197270,ppl_99994,act2_2674371,2023-06-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197271,ppl_99994,act2_2808953,2023-05-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197272,ppl_99994,act2_2840212,2023-08-25,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,1
2197273,ppl_99994,act2_2992386,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197274,ppl_99994,act2_3177773,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197275,ppl_99994,act2_3284072,2023-07-14,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197276,ppl_99994,act2_3373847,2023-02-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197277,ppl_99994,act2_3534467,2023-08-17,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197278,ppl_99994,act2_3903321,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197279,ppl_99994,act2_4024188,2023-01-12,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 520,1
2197280,ppl_99994,act2_4355021,2023-02-23,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 602,1
2197281,ppl_99994,act2_4433480,2023-01-24,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197282,ppl_99994,act2_4440524,2023-08-17,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 759,1
2197283,ppl_99994,act2_4473896,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197284,ppl_99994,act2_4479985,2023-07-14,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 142,1
2197285,ppl_99994,act2_4581579,2023-01-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197286,ppl_99994,act2_4668076,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197287,ppl_99994,act2_4743548,2023-03-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1832,1
2197288,ppl_99994,act2_536973,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197289,ppl_99994,act2_688656,2023-05-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 199,1
2197290,ppl_99994,act2_715089,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1

In [20]:
actX = act_Train.drop(['people_id','activity_id','date','outcome'],axis = 1)
acty = act_Train['outcome']

In [21]:
from sklearn.preprocessing import LabelEncoder

In [23]:
for idx in actX.columns:
    actX[idx] = actX[idx].fillna('type 0')
    actX[idx] = LabelEncoder().fit_transform(actX[idx])

In [24]:
import xgboost

/Users/hyunyoun/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [25]:
model_xgb = xgboost.XGBClassifier(n_estimators=100, max_depth=5)
%time
Xx = model_xgb.fit(actX,acty)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

In [26]:
for ix in range(len(actX.columns)):
    print (actX.columns[ix], Xx.feature_importances_[ix])

activity_category 0.0900398
char_1 0.0545817
char_2 0.0565737
char_3 0.0342629
char_4 0.0227092
char_5 0.0282869
char_6 0.0175299
char_7 0.0211155
char_8 0.0266932
char_9 0.0390438
char_10 0.609163

In [28]:
trainMerge = pd.merge(act_Train,people, on='people_id')
trainMerge.tail()

,people_id,activity_id,date_x,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
2197286,ppl_99994,act2_4668076,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,False,True,True,True,True,95
2197287,ppl_99994,act2_4743548,2023-03-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,False,True,True,True,True,95
2197288,ppl_99994,act2_536973,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,False,True,True,True,True,95
2197289,ppl_99994,act2_688656,2023-05-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,False,True,True,True,True,95
2197290,ppl_99994,act2_715089,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,False,True,True,True,True,95

In [29]:
trainMerge[trainMerge['date_x'] ==trainMerge['date_y']].groupby('outcome').count()

,people_id,activity_id,date_x,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
outcome,,,,,,,,,,,,,,,,,,,,,
0,83034,83034,83034,83034,31196,31196,31196,31196,31196,31196,...,83034,83034,83034,83034,83034,83034,83034,83034,83034,83034
1,49239,49239,49239,49239,16178,16178,16178,16178,16178,16178,...,49239,49239,49239,49239,49239,49239,49239,49239,49239,49239

In [30]:
for idx in trainMerge.columns:
    if 'type 0' in list(trainMerge[idx].unique()):
        print (idx, 'type 0 ')
    else:pass

In [31]:
mergeX = trainMerge.drop(['people_id','activity_id','date_x','date_y','outcome'],axis = 1)
mergey = trainMerge['outcome']

In [32]:
for idx in mergeX.columns:
    mergeX[idx] = mergeX[idx].fillna('type 0')
    mergeX[idx] = LabelEncoder().fit_transform(mergeX[idx])

In [33]:
model_xgb = xgboost.XGBClassifier(n_estimators=100, max_depth=2)
%time
Xx = model_xgb.fit(mergeX,mergey)

CPU times: user 3 µs, sys: 9 µs, total: 12 µs
Wall time: 32.2 µs

In [34]:
for ix in range(len(mergeX.columns)):
    print (mergeX.columns[ix], Xx.feature_importances_[ix])

activity_category 0.0
char_1_x 0.0
char_2_x 0.0
char_3_x 0.0
char_4_x 0.0
char_5_x 0.0
char_6_x 0.0
char_7_x 0.0
char_8_x 0.0
char_9_x 0.0
char_10_x 0.0
char_1_y 0.0433333
group_1 0.2
char_2_y 0.0933333
char_3_y 0.0233333
char_4_y 0.00333333
char_5_y 0.0
char_6_y 0.226667
char_7_y 0.14
char_8_y 0.00666667
char_9_y 0.0133333
char_10_y 0.0
char_11 0.0
char_12 0.0
char_13 0.00666667
char_14 0.0
char_15 0.0
char_16 0.0
char_17 0.0
char_18 0.0
char_19 0.0
char_20 0.0
char_21 0.0
char_22 0.0
char_23 0.0
char_24 0.00666667
char_25 0.0
char_26 0.0
char_27 0.0
char_28 0.0
char_29 0.00333333
char_30 0.0
char_31 0.0
char_32 0.0
char_33 0.0
char_34 0.00666667
char_35 0.0
char_36 0.00666667
char_37 0.00333333
char_38 0.216667